Thumbs.db
git.readme.txt

*.bmp
*.jpg
*.tga
*.dds
*.png
*.crp

*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.max

[Tt]est/
[Bb]in/
[Dd]ebug/
[Oo]bj/
[Rr]elease/
*.lib
*.sbr
*.vs
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/